<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Codility_BinaryGap/src/sk/binarygap/BinaryGap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sk.binarygap.BinaryGap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Codility_BinaryGap"/>
</launchConfiguration>
